@import "../../styles/main";

.section-kawaii-hero {
    padding-top: 720px;
    background: url("../../images/kawaii-robot.jpg") top center no-repeat;

    .kawaii-icon {
        text-align: center;
        margin: 0 0 20px;

        img {
            width: 120px;
            height: 120px;
            border-radius: 20px;
        }
    }

    .section-title {
        text-align: center;
        margin: 0 30px;
    }

    @include viewport(large) {
        padding-top: 540px;
        background: url("../../images/kawaii-robot-1024.jpg") top right no-repeat;

        .kawaii-icon {
            width: 75%;
            text-align: left;
            padding-left: 70px;
            padding: 0 0 120px 80px;

            img {
                width: 150px;
                height: 150px;
            }
        }

        .section-title {
            width: 30%;
            margin: -100px 0 0;
            text-align: left;
        }

        .section-content {
            width: 66%;
            margin: 40px 40px 0 0;
        }

        .cta-list-items {
            width: 75%;
            text-align: center;
        }
    }
}

.app-store-link {
    display: inline-block;
    width: 203px;
    height: 60px;
    background: url("../../images/app-store-badge-medium.png") center center no-repeat;
    background-size: 203px 60px;
    text-indent: -9999px;

    @include viewport(medium) {
        width: 270px;
        height: 80px;
        margin-top: 12px;
        background-image: url("../../images/app-store-badge.png");
        background-size: 270px 80px;

    }
}

.carousel-container {
    margin: 30px 0 20px;
}

.splash-image {
    margin: 20px auto;
    padding: 30px 40px 20px;
    text-align: center;

    img {
        width: 512px;
        height: auto;
        border-radius: 12px;
    }

    @include viewport(large) {
        img {
            width: 768px;
            height: auto;
            border-radius: 20px;
        }
    }
}

.section-avs-hero {
    padding-top: 860px;
    background: url("../../images/avs-hero.jpg") top center no-repeat;

    .section-title {
        text-align: center;
        margin: 0 30px;
    }

    @include viewport(large) {
        padding-top: 860px;
        background: url("../../images/avs-hero-1024.jpg") top right no-repeat;

        .section-title {
            width: 30%;
            margin: -100px 0 0;
            text-align: left;
        }

        .section-content {
            width: 66%;
            margin: 40px 40px 0 0;
        }
    }
}

.section-gradient-bg {
    margin-top: -10px;
    padding-top: 720px;
    background-position: 50% -20%;
    background-repeat: no-repeat;
    background-size: 768px auto;
}

.section-what-makes-avs-different {
    padding-top: 680px;
    background-image: url("../../images/subsection-1-hero.jpg");
}

.section-our-curriculum {
    background-image: url("../../images/subsection-2-hero.jpg");
}

.section-classroom-of-the-future {
    background-image: url("../../images/subsection-3-hero.jpg");
}

.section-built-for-curious-kids {
    padding-top: 840px;
    background-image: url("../../images/subsection-4-hero.jpg");
}

.section-from-curiosity-to-capability {
    background-position: 50% -30%;
    background-image: url("../../images/subsection-5-hero.jpg");
}

.section-ready-to-explore {
    padding-top: 860px;
    background-image: url("../../images/subsection-6-hero.jpg");
}