$color-codes: (
    color-red: #ec357a,
    color-orange: #ec7336,
    color-yellow: #d7e042,
    color-green: #7bc14b,
    color-blue: #4d7bbd,
    color-light-blue: #58c9ed,
    color-purple: #7654a2,
    color-grey: #676767
);

$font-primary: "Helvetica Neue", Helvetica, "lucida grande", "lucida sans unicode", Arial, sans-serif;

$transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);