@import "~@akwaba/graphene/src/index";
@import "./mixins";
@import "./variables";
@import "./typography";


body {
    background: #000;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

ul,
ol {
    list-style: none;
}

.button {
    @include rounded-corner(18px);
}

.button-elevated {
    font-size: 17px;
    line-height: 1.17648;
    letter-spacing: -0.022em;
    min-width: 26px;
    padding: 12px 22px;
    border-radius: 22px;
}

.button-reduced {
    font-size: 12px;
    line-height: 1.33337;
    letter-spacing: -0.01em;
    min-width: 24px;
    padding: 4px 11px;
    border-radius: 12px;

    &.button-block {
        @include rounded-corner(5px);
    }
}

.button-neutral {
    background: #ea4f79;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.3s linear;

    &:hover {
        background: rgba(234, 79, 121, 0.3);
        color: #f5f5f7;
        border: 2px solid #ea4f79;
    }
}

.main-content {
    position: relative;
}

.page-wrapper {
    display: block;
    margin-top: 40px;
}

.footer {
    margin: 30px 0;
    text-align: center;
    color: #a1a1a1;
}

/** ------------- Tabbed views ------------- */

.tabnav {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 100px;
    right: 100px;
    height: 48px;
    @include typography(tab-text);
    text-align: center;
    z-index: 100;

    .tabnav-items {
        position: relative;
        height: 48px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    }

    .tabnav-item {
        display: inline-block;
        margin-left: 100px;
        list-style: none;
        outline: none;

        &:first-child {
            margin-left: 0;
        }

        .tabnav-link {
            @include typography(tab-text);
            padding: 0;
            margin: 0;
            color: rgba(255, 255, 255, 0.7);
            text-align: left;
            text-decoration: none;
            display: block;
            height: 48px;
            line-height: 48px;
            position: relative;
            z-index: 1;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background: transparent;
            }

            &:hover {
                color: #fff;
                text-decoration: none;
            }

            &:focus {
                outline: none;
            }
        }

        &.active .tabnav-link {
            color: #fff;

            &:after {
                background: #fff;
            }
        }
    }
}