@import "../../styles/main";

.section {
    padding-bottom: 90px;

    .section-title {
        text-align: center;
        margin: 0 30px;

        @include viewport(medium) {
            margin: 0 40px;
        }
    }

    @include viewport(medium) {
        padding-bottom: 100px;
    }

    @include viewport(large) {
        padding-bottom: 140px;
    }
}

.section-home-hero {
    padding-top: 680px;
    background: url("../../images/human-energy.jpg") top center no-repeat;

    .section-title {
        text-align: center;
        margin: 0 30px;
    }

    @include viewport(large) {
        background: url("../../images/human-energy-1024.jpg") top right no-repeat;

        .section-title {
            width: 30%;
            margin: -100px 0 0;
            text-align: left;
        }

        .section-content {
            width: 75%;
            margin: 40px 40px 0 0;

        }

        .cta-list-items {
            text-align: left;
        }
    }
}

.section-platform .chip-subsection {
    display: block;

    @include viewport(large) {
        display: flex;
        justify-content: space-between;

    }
}